@import "tailwindcss";

:root {
  --background: #f5f4f0;
  --foreground: #171717;
  --swiper-theme-color: #ff4081;
}

@import 'react-big-calendar/lib/css/react-big-calendar.css';
/* @import '../sass/styles'; */
/* @import '../sass/styles.scss'; */
/* @import 'react-big-calendar/lib/sass/styles'; */


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@font-face {
  font-family: 'malibu';
  src: url(../../public/fonts/malibu/super_malibu-webfont.woff) format('woff'),
    url(../../public/fonts/malibu/super_malibu-webfont.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'starborn';
  src: url(../../public/fonts/starborn/starshines-webfont.woff) format('woff'),
    url(../../public/fonts/starborn/starshines-webfont.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'anti';
  src: url(../../public/fonts/anti/antipasto-pro-regular-trial-webfont.woff) format('woff'),
    url(../../public/fonts/anti/antipasto-pro-regular-trial-webfont.woff2) format('woff2');
  font-weight: normal;
  font-style: oblique;
}

@font-face {
  font-family: 'sans';
  src: url(../../public/fonts/sans/sansation_regular-webfont.woff) format('woff'),
    url(../../public/fonts/sans/sansation_regular-webfont.woff2) format('woff2');
}

@font-face {
  font-family: 'quicksand';
  src: url(../../public/fonts/quicksand/Quicksand-Regular.woff2) format('woff2');
  /* font-size: 23px */
}

footer {
  background-color: #e7cbcf47;
  font-family: 'quicksand';
  padding-bottom: 30px;
}


.rbc-event {
  background-color: #b76074;
}

.rbc-current-time-indicator {
  background-color: #b76074
}

.rbc-today {
  background-color: #efdcdf7a;
}

.rbc-today .rbc-timeslot-group {
  border-color: #e7cbcf;
}

.rbc-timeslot-group .rbc-time-slot {
  border-width: 0;
}

.rbc-toolbar .rbc-toolbar-label {
  font-size: 23px
}

.rbc-show-more {
  color: #b76074;
}

.rbc-show-more:hover {
  color: #9e475b;
}

.rbc-day-slot .rbc-event {
  border-width: 1.5;
  border-color: #b76074;
  background-color: #b76074;
  border-radius: 4;
}

.rbc-day-slot .rbc-background-event {
  border-width: 1.5;
  border-color: #ca8190;
  background-color: #ca8190;
  border-radius: 4;
}

.rbc-calendar {
  font-family: 'quicksand';
  font-size: 15px;  
}

.rbc-allday-cell {
  display: none;
}

.rbc-header {
  /* font-size: 23; */
  font-weight: 400;
}

.rbc-time-header-gutter,
.rbc-time-gutter {
  width: 70.8359px !important;
  min-width: 70.8359px !important;
  max-width: 70.8359px !important;
  border-bottom: 1px solid #ddd
}



.rbc-toolbar {
  /* font-size: 23 */
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'malibu';
}