@import "tailwindcss";

:root {
  --background: #f5f4f0;
  --foreground: #171717;
  --swiper-theme-color: #ff4081;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: 'starborn';
  src: url(../../public/fonts/starborn/starshines-webfont.woff) format('woff'), 
       url(../../public/fonts/starborn/starshines-webfont.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'malibu';
  src: url(../../public/fonts/malibu/super_malibu-webfont.woff) format('woff'),
       url(../../public/fonts/malibu/super_malibu-webfont.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'anti';
  src: url(../../public/fonts/anti/antipasto-pro-regular-trial-webfont.woff) format('woff'),
       url(../../public/fonts/anti/antipasto-pro-regular-trial-webfont.woff2) format('woff2');
  font-weight: normal;
  font-style: oblique;
}

@font-face {
  font-family: 'sans';
  src: url(../../public/fonts/sans/sansation_regular-webfont.woff) format('woff'),
       url(../../public/fonts/sans/sansation_regular-webfont.woff2) format('woff2');
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'starborn';
}