@import "tailwindcss";

:root {
  --background: #f5f4f0;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: 'starborn';
  src: url(../../public/fonts/starborn/starborn-webfont.woff) format('woff'), 
       url(../../public/fonts/starborn/starborn-webfont.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'malibu';
  src: url(../../public/fonts/malibu/super_malibu-webfont.woff) format('woff'),
       url(../../public/fonts/malibu/super_malibu-webfont.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'starborn';
}

